@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.267 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.267 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.267 0 0);
    --primary: oklch(0.652 0.143 166.3);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.973 0 0);
    --secondary-foreground: oklch(0.389 0 0);
    --muted: oklch(0.973 0 0);
    --muted-foreground: oklch(0.589 0 0);
    --accent: oklch(0.951 0.031 166.3);
    --accent-foreground: oklch(0.652 0.143 166.3);
    --destructive: oklch(0.608 0.156 23.5);
    --border: oklch(0.925 0 0);
    --input: oklch(1 0 0);
    --ring: oklch(0.652 0.143 166.3);
    --chart-1: oklch(0.652 0.143 166.3);
    --chart-2: oklch(0.593 0.143 166.3);
    --chart-3: oklch(0.523 0.143 166.3);
    --chart-4: oklch(0.389 0 0);
    --chart-5: oklch(0.589 0 0);
    --radius: 0.625rem;
    --sidebar: oklch(0.973 0 0);
    --sidebar-foreground: oklch(0.267 0 0);
    --sidebar-primary: oklch(0.652 0.143 166.3);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.951 0.031 166.3);
    --sidebar-accent-foreground: oklch(0.652 0.143 166.3);
    --sidebar-border: oklch(0.925 0 0);
    --sidebar-ring: oklch(0.652 0.143 166.3);
}

.dark {
    --background: oklch(0.197 0 0);
    --foreground: oklch(0.925 0 0);
    --card: oklch(0.239 0 0);
    --card-foreground: oklch(0.925 0 0);
    --popover: oklch(0.239 0 0);
    --popover-foreground: oklch(0.925 0 0);
    --primary: oklch(0.787 0.143 163.8);
    --primary-foreground: oklch(0.197 0 0);
    --secondary: oklch(0.267 0 0);
    --secondary-foreground: oklch(0.831 0 0);
    --muted: oklch(0.239 0 0);
    --muted-foreground: oklch(0.678 0 0);
    --accent: oklch(0.354 0.059 166.3);
    --accent-foreground: oklch(0.787 0.143 163.8);
    --destructive: oklch(0.674 0.143 23.5);
    --border: oklch(0.323 0 0);
    --input: oklch(0.267 0 0);
    --ring: oklch(0.787 0.143 163.8);
    --chart-1: oklch(0.787 0.143 163.8);
    --chart-2: oklch(0.826 0.143 163.8);
    --chart-3: oklch(0.909 0.143 163.8);
    --chart-4: oklch(0.831 0 0);
    --chart-5: oklch(0.678 0 0);
    --sidebar: oklch(0.239 0 0);
    --sidebar-foreground: oklch(0.925 0 0);
    --sidebar-primary: oklch(0.787 0.143 163.8);
    --sidebar-primary-foreground: oklch(0.197 0 0);
    --sidebar-accent: oklch(0.354 0.059 166.3);
    --sidebar-accent-foreground: oklch(0.787 0.143 163.8);
    --sidebar-border: oklch(0.323 0 0);
    --sidebar-ring: oklch(0.787 0.143 163.8);
}

@theme inline {
    --font-sans: 'Inter Variable', sans-serif;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply font-sans bg-background text-foreground;
    }

    html {
        @apply font-sans;
    }
}
