.timeline {
  position: relative;
  margin: 0 auto;
  margin-left: 20px;
  padding: 1em 0;
  list-style-type: none;
}

body.dark-mode .timeline.timeline:before {
  position: absolute;
  left: 0;
  top: 0;
  content: ' ';
  display: block;
  width: 0.5px;
  height: 100%;
  margin-left: -3px;
  background: white;
  z-index: 5;
}

body.light-mode .timeline.timeline:before {
  position: absolute;
  left: 0;
  top: 0;
  content: ' ';
  display: block;
  width: 0.5px;
  height: 100%;
  margin-left: -3px;
  background: black;
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.flag-wrapper {
  position: relative;
  display: inline-flex;
  text-align: left;
  align-items: center;
}

.flag {
  position: relative;
  display: inline;
  padding-left: 12px;
  font-weight: 600;
}

.flag-emoji {
  position: absolute;
  top: 50%;
  display: block;
  left: -15px;
  margin-top: -11px;
  z-index: 100;
}

.time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666em;
  vertical-align: middle;
}

.time {
  display: inline-block;
  padding: 4px 6px;
}

.desc {
  padding-left: 12px;
  margin-top: 1em;
  font-size: 0.77777em;
  line-height: 1.5em;
}
